* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('./img/topline.png');
    background-size: cover;
}

.headers {
    display: flex;
    justify-content: space-evenly;
    margin: 32px 0 30px 0;
}

nav a {
    margin: 0 0 0 77px;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.container {
    background-image: url('./img/Img.png');
    background-size: cover;
    padding: 355px 0;
}

.container_inscription {
    display: flex;
    justify-content: center;
}

h1 {
    width: 696px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.container_modal {
    display: none;
    width: 528px;
    background-color: white;
}

.container_cross {
    content: "";
    position: relative;
    top: 0;
    width: 2px;
    height: 15px;
    background-color: black;
    transform: translate(508px, 4px) rotate(45deg);
}

.container_cross::after {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2px;
    height: 15px;
    background-color: black;
    transform: translate(0px, 1px) rotate(93deg);
}

.active {
    display: block;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
    flex-wrap: wrap;
    max-width: 80%;
}

.card_card1::before {
    position: absolute;
    content: "";
    background-image: url('./img/antenna1.png');
    width: 300px;
    height: 100px;
    background-repeat: no-repeat;
}


.card_card2::before {
    position: absolute;
    content: "";
    background-image: url('./img/clock1.png');
    width: 300px;
    height: 100px;
    background-repeat: no-repeat;
}

.card_card3::before {
    position: absolute;
    content: "";
    background-image: url('./img/diagram1.png');
    width: 300px;
    height: 100px;
    background-repeat: no-repeat;
}

.card_card4::before {
    position: absolute;
    content: "";
    background-image: url('./img/astronaut1.png');
    width: 300px;
    height: 100px;  
    background-repeat: no-repeat;
}

h2 {
    padding-top: 100px;
    width: 270px;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.card_card1 h2 {
    position: relative;
    top: 30px;
}

.card_card2 h2 {
    position: relative;
    top: 30px;
}

.card_card3 h2 {
    position: relative;
    top: 30px;
}

.card_card4 h2 {
    position: relative;
    top: 30px;
}

.card_card1 {
    background: #F5F4FA;
    text-align: center;
}

.card_card2 {
    background: #F5F4FA;
    text-align: center;
}

.card_card3 {
    background: #F5F4FA;
    text-align: center;
}

.card_card4 {
    background: #F5F4FA;
    text-align: center;
}

.card-text {
    padding-top: 42px;
    width: 270px;
    height: 72px;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

form {
    display: grid;
}

label {
    display: grid;
    justify-content: center;
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
}

textarea {
    width: 448px;
    height: 120px;
    border-radius: 4px;
}

.image {
    width: 18px;
    height: 18px;
}

h3 {
    text-align: center;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.container_button {
    display: flex;
    justify-content: center;
    padding: 30px 0 20px 0;
}

.name {
    background-image: url('./img/person-black-18dp1.svg');
    background-repeat: no-repeat;
    background-position: 11px 12px;
}

.phone {
    background-image: url('./img/phone-black-18dp1.svg');
    background-repeat: no-repeat;
    background-position: 11px 12px;
}

.email {
    background-image: url('./img/email-black-18dp1.svg');
    background-repeat: no-repeat;
    background-position: 11px 12px;
}

.conditions {
    color: #2196F3;
    text-decoration: underline;
}

.name:focus,
.phone:focus,
.email:focus {
    background-image: none;
    border-radius: 2px;
    border: 1px solid black;
}

.container_contract {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.cont {
    margin: 0 8px 0;
}