<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../main.css">
    <title>Modal</title>
</head>
<body>
    <header>
        <div class="headers">
            <div class="headers_logo">
                <img src="/img/WebStudio.png" alt="logo">
            </div>
            <nav>
                <a href="#">Студія</a>
                <a class="headers_portfo" href="#">Портфоліо</a>
                <a href="#">Контакти</a>
            </nav>
            <div class="headers_mail">
                <img src="/img/E-mail(1).png" alt="mail">
            </div>
            <div class="headers_tel">
                <img src="/img/Tel.png" alt="tel">
            </div>
        </div>
    </header>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    <div class="buttons_mixins">
        <button class="buttons_all_mixins">Усі</button>
        <button class="buttons_site">Веб-сайти</button>
        <button class="buttons_addition">Додатки</button>
        <button class="buttons_design">Дизайн</button>
        <button class="buttons_market">Маркетинг</button>
    </div>



    <div class="cards">
        <div class="cards_top">
            <div class="cards_card">
                <div class="cards_image">
                    <img src="/img/img(1).png" alt="">
                </div>
                <div class="cards_text">
                    <h2>Технокряк</h2>
                    <p class="cards_p">Веб-сайт</p>
                </div>
            </div>

            <div class="cards_card">
                <div class="cards_image">
                    <img src="/img/img(2).png" alt="">
                </div>
                <div class="cards_text">
                    <h2>Постер New Orlean vs Golden Star</h2>
                    <p class="cards_p">Дизайн</p> 
                </div>
            </div>

            <div class="cards_card">
                <div class="cards_image">
                    <img src="/img/img(3).png" alt="">
                </div>
                <div class="cards_text">
                    <h2>Ресторан Seafood</h2>
                    <p class="cards_p">Додаток</p>
                </div>
            </div>
        </div>

        <div class="cards_medium">
            <div class="cards_card">
                <div class="cards_image">
                    <img src="/img/img(4).png" alt="">
                </div>
                <div class="cards_text">
                    <h2>Проєкт Prime</h2>
                    <p class="cards_p">Маркетинг</p>
                </div>
            </div>

            <div class="cards_card">
                <div class="cards_image">
                    <img src="/img/img(5).png" alt="">
                </div>
                <div class="cards_text">
                    <h2>Проєкт Boxes</h2>
                    <p class="cards_p">Додаток</p>
                </div>
            </div>

            <div class="cards_card">
                <div class="cards_image">
                    <img src="/img/img(6).png" alt="">
                </div>
                <div class="cards_text">
                    <h2>Inspiration has no Borders</h2>
                    <p class="cards_p">Веб-сайт</p>
                </div>
            </div>
        </div>

        <div class="cards_bottom">
            <div class="cards_card">
                <div class="cards_image">
                    <img src="/img/img(7).png" alt="">
                </div>
                <div class="cards_text">
                    <h2>Видання Limited Edition</h2>
                    <p class="cards_p">Дизайн</p>
                </div>
            </div>

            <div class="cards_card">
                <div class="cards_image">
                    <img src="/img/img(8).png" alt="">
                </div>
                <div class="cards_text">
                    <h2>Проєкт LAB</h2>
                    <p class="cards_p">Маркетинг</p>
                </div>
            </div>

            <div class="cards_card">
                <div class="cards_image">
                    <img src="/img/img(9).png" alt="">
                </div>
                <div class="cards_text">
                    <h2>Growing Business</h2>
                    <p class="cards_p">Додаток</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="footer_left">
                <div class="footer_logo">
                    <img src="/img/WebStudio.png" alt="">
                </div>
                <div class="footer_information">
                    <p class="footer_address">м. Київ, пр-т Лесі Українки, 26</p>
                    <p class="footer_info">info@devstudio.com</p>
                    <p class="footer_info">+38 096 111 11 11</p>
                </div>
            </div>
            <div class="footer_center">
                <p>ПРИЄДНУЙТЕСЬ</p>
                <div class="footer_web">
                    <img src="/img/Ellipse.svg" alt="insta">
                    <img src="/img/Ellipse(1).svg" alt="twitt">
                    <img src="/img/Ellipse(2).svg" alt="faceb">
                    <img src="/img/Ellipse(3).svg" alt="linked">
                </div>
            </div>
            <div class="footer_right">
                <p>ПІДПИШІТЬСЯ НА РОЗСИЛКУ</p>
                <div class="form_button">
                    <form>
                        <label>
                            <input type="email" placeholder="E-mail">
                        </label>
                    </form>
                    <div class="footer_button">
                        <button class="footer_subscribe">
                            Підписатися
                            <div class="footer_telegram">
                                <img src="/img/iconsend.png" alt="tele">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>